services:
  node:
    build:
      context: ./web/backend
      dockerfile: ../../docker/images/node/Dockerfile
    container_name: cmb-node
    env_file:
      - .env
    depends_on:
      - mariadb
    restart: unless-stopped

  frontend:
    build:
      context: ./web/frontend
      dockerfile: ../../docker/images/frontend/Dockerfile
    container_name: cmb-frontend
    env_file:
      - .env
    volumes:
      - ./docker/config/frontend/nginx.conf:/etc/nginx/conf.d/default.conf
    restart: unless-stopped


  mariadb:
    image: mariadb:latest
    container_name: cmb-mariadb
    # ports:
    # - '${MARIADB_PORT}:3306'
    environment:
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      - MARIADB_DATABASE=${MARIADB_DATABASE}
    volumes:
      - 'mariadb-data:/var/lib/mysql'
      - './data:/var/greenmile/data'
      - './data/seed.sql:/docker-entrypoint-initdb.d/seed.sql:ro'
    restart: unless-stopped

  grafana:
    image: grafana/grafana
    container_name: cmb-grafana
    # ports:
    # - '${GRAFANA_PORT}:3000'
    environment:
      - GF_SERVER_ROOT_URL=http://localhost
      - GF_PATHS_CONFIG=/var/greenmile/config/grafana.ini
      - GF_SECURITY_ADMIN_USER=${GRAFANA_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
    volumes:
      - 'grafana-data:/var/lib/grafana'
      - './docker/config/grafana:/var/greenmile/config'

  nginx:
    image: nginx:latest
    ports:
      - 80:80
      - 443:443
    container_name: cmb-nginx
    volumes:
      - ./docker/config/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - certbot-etc:/etc/letsencrypt
      - certbot-www:/var/www/certbot
    depends_on:
      - node
      - frontend
      - grafana
      - certbot
    restart: unless-stopped
  
  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-www:/var/www/certbot
    entrypoint: >
      sh -c "trap exit TERM;
      while :; do
        certbot renew --webroot -w /var/www/certbot;
        sleep 12h;
      done"
    restart: unless-stopped

volumes:
  grafana-data:
  mariadb-data:
  certbot-etc:
  certbot-www: