@import 'tailwindcss';

html,
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

/* .side-menu {
  border-inline-end: 0 !important;
  border-inline-start: 0 !important;
  border-right: 1px solid rgba(253, 253, 253, 0.12) !important;
} */

.stroke-animate {
    stroke-dasharray: 315px;
    stroke-dashoffset: 314px;
    transition: all 1s ease;
}

.donut-svg {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 3 / 2;
    margin: auto;
}

.ant-layout {
    min-height: 100vh !important;
}

.ant-table-content {
    overflow-x: auto;
}
